<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/floating-label.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap-css.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Login Theme</title>
</head>
<body>
  <div class="row">
    <class class="col-sm-7 d-none d-sm-block" >
      <div class="form-signin">
      <div class="d-flex justify-content-center">
        <img class="mb-4" src="images/monstereye.svg" alt="" width="72" height="72">
      </div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    </class>
    <div class="col-sm-5" >
      <div class="form-signin">
        <div class="card bg-light">
          <article class="card-body mx-auto" >
              <h4 class="card-title mt-3 text-center">Đăng Ký</h4>
              <p class="text-center">Nhanh chóng và dễ dàng với </p>
              <p>
                 <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
              </p>
              <p class="divider-text">
                  <span class="bg-light">HOẶC</span>
              </p>
              <form>
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                   </div>
                  <input name="" class="form-control" placeholder="Vui lòng nhập họ tên" type="text">
              </div> <!-- form-group// -->
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                   </div>
                  <input name="" class="form-control" placeholder="Vui lòng nhập email" type="email">
              </div> <!-- form-group// -->
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                  </div>
                  <select class="custom-select" style="max-width: 120px;">
                      <option selected="">+024</option>
                      <option value="1">+028</option>
                      <option value="2">+0236</option>
                      <option value="3">+084</option>
                  </select>
                  <input name="" class="form-control" placeholder="Vui lòng nhập số điện thoại" type="text">
              </div> <!-- form-group// -->
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                  </div>
                  <select class="form-control">
                      <option selected=""> Chọn công việc</option>
                      <option>Thiết kế</option>
                      <option>Quản lý</option>
                      <option>Kế toán</option>
                      <option>Khác</option>
                  </select>
              </div> <!-- form-group end.// -->
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Create password" type="password">
              </div> <!-- form-group// -->
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Repeat password" type="password">
              </div> <!-- form-group// -->                                      
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Tạo tài khoản </button>
              </div> <!-- form-group// -->      
              <p class="text-center">Đã có 1 tài khoản? <a href="/">Log In</a> </p>                                                                 
          </form>
          </article>
       </div> <!-- card.// -->
      </div>
    </div>
  </div>
</body>
</html>